/* @import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Oxygen:wght@300;700&family=Roboto:wght@100&display=swap'); */
@import './navbar';

@font-face {
  font-family: "SourceSansPro-Light";
  src: url(/assets/fonts/SourceSansPro-Light.ttf) format("truetype"), url(/ropetest.com.au/assets/fonts/SourceSansPro-Light.ttf) format("truetype");
}


@font-face {
  font-family: 'Oxygen-Bold';
  src: url(/assets/fonts/Oxygen-Bold.ttf) format("truetype"), url(/ropetest.com.au/assets/fonts/Oxygen-Bold.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url(/assets/fonts/SourceSansPro-Regular.ttf) format("truetype"), url(/ropetest.com.au/assets/fonts/SourceSansPro-Regular.ttf) format("truetype");
  /* font-weight: 400; */
  /* font-style: normal; */
}

:root {
  --font-mono: ui-monospace, SourceSansPro-Regular, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Oxygen-Bold', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-size: 18px;

  --ropetest-red: #cf0000;
  --ropetest-grey: #f4f4f4;
  --ropetest-link-hover-red: #c51d23;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--ropetest-link-hover-red);
}

.section {

  padding-left: 8% !important;
  padding-right: 8% !important;
}

.section-grey {
  background-color: var(--ropetest-grey);
}

.section-white {
  background-color: white;
}

.mini-divider {
  margin: 15px 0px;
  max-width: 150px;
  background-color: var(--ropetest-red);
  height: 3px;
}

/* bootstrap mods */

/* .navbar-nav .dropdown-menu { */
  /* border-radius: 0px; */
  /* border-top-color: red;
  border-top-width: 4px; */
  /* top: 56px; */

  /* top: calc(100% + 20px); */
  /* padding-top: 100px; */
/* } */

/* .image-carousel img {
  transform: scale(0.8);
} */


h1 {
  font-size: 60px !important; 
}

h2 { 
  font-size: 26px !important; 
  font-weight: bold; 
}

h3 {
  font-size: 20px !important;
}

/* from ropesys css */

body, div, p, li, label {
  font-family: "SourceSansPro-Regular";
}

h1,h2,h3,strong,b{
  font-family: "Oxygen-Bold";
}

body, div, p, li, label{
  font-family: "SourceSansPro-Regular";
}

h1 {
    font-size: 60px;
}

textarea {
  padding: 10px;
  border: 1px solid var(--ropetest-red) !important;
  width: 100%;
  font-size: 22px;
    /* margin: 20px 0px;
    font-size: 22px; */
}

.btn-submit {
  font-size: 20px;
  text-decoration: none;
  background-color: #CF0000;
  width: fit-content;
  color: #fff;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  transition: 0.2s;
}

.btn-submit:hover {
  background-color: #000000;
}
