@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Oxygen:wght@300;700&family=Roboto:wght@100&display=swap');


@font-face { 
  font-family: 'Oxygen'; 
}


@font-face {
  font-family: 'Oxygen-Bold';
  src: url(/assets/fonts/oxygen.bold.ttf), url(/ropetest.com.au/assets/fonts/oxygen.bold.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url(/assets/fonts/SourceSansPro-Regular.ttf), url(/ropetest.com.au/assets/fonts/SourceSansPro-Regular.ttf);
  /* font-weight: 400; */
  font-style: normal;
}

:root {
  --font-mono: ui-monospace, SourceSansPro-Regular, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Oxygen-Bold', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --ropetest-red: #cf0000;
  --ropetest-grey: #f4f4f4;
}



html,
body {
  max-width: 100vw;
  min-height: 100vh;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

.section {
  /* padding: 50px 0px; */
  background-color: var(--ropetest-grey);
  padding-left: 8% !important;
  padding-right: 8% !important;
}

.section-white {
  background: white;
  padding-left: 8% !important;
  padding-right: 8% !important;
}

/* bootstrap mods */

.navbar-nav .dropdown-menu {
  /* border-radius: 0px; */
  /* border-top-color: red;
  border-top-width: 4px; */
  /* top: 56px; */
}

.image-carousel img {
  transform: scale(0.8);
}


