.rt-navbar-brand {
    font-size: 2rem;
}

.rt-navbar {
    background-color: rgba(var(--bs-dark-rgb))!important;
    height: 100px;
    top: 0;
    z-index: 1020;
    position:sticky;
}

.rt-navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rt-navbar a {
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.7s;
}

.rt-dropdown {
    overflow: hidden;
    z-index: 2;
    font-size: 18px;
    white-space: nowrap;
}

.rt-dropdown .rt-dropbtn {
    font-size: 18px;  
    border: none;
    outline: none;
    color: grey;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.rt-navbar a:hover, .rt-dropdown:hover .rt-dropbtn {
    /* background-color: red; */
    color: white;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.rt-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.rt-dropdown-content a {
    float: none;
    color: black;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 18px;
    border-bottom-color: #dedede;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.rt-dropdown-content a:hover {
    background-color: #ddd;
}

.rt-dropdown:hover .rt-dropdown-content {
    display: block;
    z-index: 1;
}

.rt-dropdown-spacer {
    background-color: rgba(var(--bs-dark-rgb));
    height: 27px; 
    border-bottom: solid;
    border-bottom-color: red;
    border-bottom-width: 3px;
}
/* .rt-dropdown .fa.fa-caret-down { margin-left: 5px; } */

.rt-navbar-link-container { 
    display: flex;  
    /* justify-items: flex-start; */
    align-items: center; 
}

.rt-navbar .active {
    color: red;
}


.accordion-hide-carot .accordion-header .accordion-button::after {
    content: none;
}

.accordion-hide-carot .accordion-header .accordion-button a {
    padding: 0px;
    color: black;
}

.accordion-header .accordion-button  {
font-weight: 700;
font-weight: 700;
font-size: 1.1em;
}

.accordion-body div {
padding: 10px 0px;
border-bottom: 1px solid var(--ropetest-grey);
}

.accordion-body div a {
color: black;
font-weight: 700;
font-size: 1.5em;
}